.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 7px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid black;
}

.footer a {
    text-decoration: none;    
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog-item {
    margin: 1%;
    margin-top: 2%;
    width: 23%;
    height: auto;
    text-align: center;
}

.catalog-item img{
    width: 90%;
    height: 190px;
}

.catalog-item a {
    color:inherit;
    text-decoration: none;    
}

.catalog-item img:hover{
    width: 100%;
    height: 184px;
    border: solid black 3px;
}

.small-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -10px;
    margin-bottom: -10px;
}

.small-icon img{
    width: 25px;
    height: 25px;
    margin-top: 15px;
}

.small-icon img:hover{
    width: 25px;
    height: 25px;
    margin-top: 15px;
    border: 0px;
}

@media only screen and (max-width: 1100px) {
    .catalog-item {
        width: 30%;
        margin-top: 3%;
    }
    .catalog-item img{
        height: 184px;
    }
    .catalog-item img:hover{
        height: 178px;
    }

    .small-icon img{
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }
    
    .small-icon img:hover{
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 780px) {
    .catalog-item {
        width: 45%;
        margin-top: 7%;
    }
    .catalog-item img{
        height: 184px;
    }
    .catalog-item img:hover{
        height: 178px;
    }

    .small-icon img{
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }
    
    .small-icon img:hover{
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 450px) {  
    .catalog-item {
        width: 90%;
        margin-top: 9%;
    }
    .catalog-item img{
        height: 180px;
    }
    .catalog-item img:hover{
        height: 174px;
    }

    .small-icon img{
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }
    
    .small-icon img:hover{
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }
}
