.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;

    left: 50%;
    margin-left: -280px;
}

.block {
    position: absolute;
    background-color: darkblue;
    width: 90px;
    height: 10px;
}

.user {
    position: absolute;
    background-color: black;
    width: 70px;
    height: 10px;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}

.container {
    width: 100%;
    position: absolute;
    text-align: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
